<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>
@model List<Answer>

<div class="answers">
    @foreach (var answer in Model)
    {
        <div class="answer">
            <p>@answer.Content</p>
        </div>
    }
</div>
